<table class="paper sortable sticky" id='list'>
  <caption>
    Статистика застосування Axe<a href="#l1"><sup>1</sup></a> та Wave<a href="#l2"><sup>2</sup></a> до сатів
    українських закладів вищої освіти.
    <p class="text-right">
      <label for="filter">Фільтрувати</label>
      <input type="text" oninput="filtrate()" id="filter" arial-label="List filtration"/>
    </p>
  </caption>
  <thead>
  <tr>
    <th rowspan="2">
      <button data-column-index="0">Сайт<span aria-hidden="true"></span></button>
    </th>
    <th colspan="3" class="text-center">Axe<a href="#l1"><sup>1</sup></a></th>
    <th colspan="1" class="text-center">Wave<a href="#l2"><sup>2</sup></a></th>
  </tr>
  <tr>
    <th><button data-column-index="1" class="num">Відповідність за рвінем A <a href="#l3"><sup>3</sup></a><span aria-hidden="true"></span></button></th>
    <th><button data-column-index="2" class="num">Відповідність за рвінем AA <a href="#l4"><sup>4</sup></a><span aria-hidden="true"></span></button></th>
    <th><button data-column-index="3" class="num">Помилок<a href="#l5"><sup>5</sup></a><span aria-hidden="true"></span></button></th>
    <th><button data-column-index="4" class="num">Помилок<a href="#l5"><sup>5</sup></a><span aria-hidden="true"></span></button></th>
  </tr>
  </thead>
  <tbody>
<% @axes.each do |site| %>
   <tr>
     <td><a href='/show/<%= site.key %>'><%= urlfy(site.url)%></a></td>
     <td><%= site.conformity('A') %>%</td>
     <td><%= site.conformity('AA') %>%</td>
     <td><%= @axe_details_grouped[site.key] %></td>
     <td><%= @waves[site.key]&.wcag_errors %></td>
   </tr>
<% end %>
  </tbody>
  <tfoot>
  <tr>
    <td colspan="5">
      <p>Примітки:</p>
      <ol style="list-style-type: none;">
        <li><a id="#l1"></a><sup>1</sup> Результат отриманий із застосуванням <a href="https://www.deque.com/axe/" rel="nofollow">Axe® Accessibility Testing Tools</a></li>
        <li><a id="#l2"></a><sup>2</sup> Результат отриманий із застосуванням <a href="https://wave.webaim.org/" rel="nofollow">WAVE® Web Accessibility Evaluation Tool">Wave</a></li>
        <li><a id="#l3"></a><sup>3</sup> Розраховується як кількість критеріїв за рівнм <span class="badge">A</span> із статусом <span class="badge PASS">PASS</span> до кількості критеріїв зі статусом <span class="badge PASS">PASS</span> або <span class="badge VIOLATION">VIOLATION</span> </li>
        <li><a id="#l4"></a><sup>4</sup> Розраховується як кількість критеріїв за рівнм <span class="badge">A</span> або <span class="badge">AA</span> із статусом <span class="badge PASS">PASS</span> до кількості критеріїв зі статусом <span class="badge PASS">PASS</span> або <span class="badge VIOLATION">VIOLATION</span></li>
        <li><a id="#l5"></a><sup>5</sup> Загальна кількість поперджень, зазначених інструментом</li>
      </ol>
      <p>Загальна інформація про <a href="https://www.w3.org/Translations/WCAG21-ua/#x0-1-background-on-wcag-2">рівні відповідності</a></p>
    </td>
  </tr>
  </tfoot>
</table>

